*{
    font-family: 'Poppins', sans-serif;
    color: rgb(228, 228, 228);
}

.bold{
    font-weight: 500;
}

.gradient{
    background: rgb(255,170,230);
    background: linear-gradient(90deg, rgb(250, 128, 214) 0%,rgb(192, 114, 253)29%,rgb(106, 193, 252) 67%, rgb(104, 240, 250) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


    font-weight: 600;
}

.animation{
  background-size:200% auto;
  animation: move 1s ease-in-out infinite alternate;
}

@keyframes move {
    0% {
        background-position: 0% 50%;
    }
    50%{
      background-position: 50% 100%;
    }
    100% {
        background-position: 100% 50%;
    }
}
.navbar{
     background-color: #000!important;
    color: rgb(228, 228, 228);
    padding: 12px 20px;
}

.nav-item {
  padding: 0 16px;
}

#home{
    display: flex;
    justify-content: center;
    
    height: 92vh;
    background-color: #000!important;
}

.jumbotron{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 2vh;
}

.reactjs{
    position: relative;
}
.reactjs::before {
    content: "";
    position: absolute;
    top: 80%;
    width: 100%;
    left: 0;
    height: 4px;
    background: linear-gradient(90deg, rgb(250, 128, 214) 0%,rgb(192, 114, 253)29%,rgb(106, 193, 252) 67%, rgb(104, 240, 250) 100%);
  
  }

  .lead{
    color: rgb(169, 166, 166);
    
  }

  @media (max-width: 400px) {
    .lead{
      width: 80%;
      
    }
  }

.down-arrow {
    position: absolute;
    top: calc(100vh - 120px);
    left: calc(50% - 14px);
    width: 0;
    height: 30px;
    border: 1px solid;
    border-radius: 2px;
  }
  
  .down-arrow:after {
    content: " ";
    position: absolute;
    top: 12px;
    left: -8px;
    width: 16px;
    height: 16px;
    border-bottom: 2px solid;
    border-right: 2px solid;
 
    transform: rotateZ(45deg);
  }

  @keyframes jumpInfinite {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 16px;
    }
    100% {
      margin-top: 0;
    }
  }

  .down-arrow {
    animation: jumpInfinite 1.5s infinite;
  }

.main-img{
    width: 160px;
    border-radius: 50%;
    margin: 10px;
}

.reactjs-span{
    font-size: 28px;
}

#experience{
  height: 100vh;
  padding: 16px;
  background-color: #000!important;
}

.timeline{
  position: relative;
}

.timeline::before{
  content: "";
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 5px;
  background-color: white;
  height: 100%;
}